<h1><%=post.titulo%></h1>

<p><%=post.descricao%></p>

<!-- <form class="" action="/testes" method="post">
  <div class="">
    <input type="text" name="titulo" value="titulo">
  </div>
  <div class="">
  <input type="text" name="subtitulo" value="subtitulo">
</div><div class="">
  <textarea name="post" rows="8" cols="80"></textarea>
  </div><div class="">
  <input type="text" name="fotoUrl" value="Imagem">
  </div><div class="">
  <input type="text" name="tags" value="tags">
  </div><div class="">
  <input type="text" name="categoria" value="categoria">
  </div>
  <input type="submit" name="submit" value="Enviar">
</form> -->
