<h1>Editar</h1>

<form action="/receitas/<%=receita._id%>?_method=PUT" method="post">
  <input type="text" name="titulo" value="<%=receita.postagem.titulo%>">
  <input type="submit" name="" value="Editar">
</form>
