<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/login" method="post">
      <label for="username">Usuário</label>
      <input type="text" name="username" id="username">
      <label for="password">Senha</label>
      <input type="password" name="password" id="password">
      <input type="submit" value="Entrar">
    </form>

  </body>
</html>
