 <form class="" action="/blog" method="post" enctype="multipart/form-data">
  <div class="">
    <input type="text" name="titulo" value="titulo">
  </div>
  <div class="">
  <input type="text" name="subtitulo" value="subtitulo">
</div><div class="">
  <textarea name="post" rows="8" cols="80"></textarea>
  </div><div class="">
  <input type="file" name="foto">
  </div><div class="">
  <input type="text" name="tags" value="tags">
  </div><div class="">
  <input type="text" name="categoria" value="categoria">
  </div>
  <input type="submit" name="submit" value="Enviar">
</form>
